instancje/chr12a.dat
instancje/chr12a.sln
instancje/chr12b.dat
instancje/chr12b.sln
instancje/chr12c.dat
instancje/chr12c.sln
instancje/chr15a.dat
instancje/chr15a.sln
instancje/chr15b.dat
instancje/chr15b.sln
